@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:wght@200..1000&display=swap");
@import "tailwindcss";

/*
 * Screen breakpoints
 * - xl: 1367px+
 * - lg: 1366px and below
 * - md: 1024px and below
 * - sm: 768px and below
 * Desktop-first: write default styles for large screens and scale down with variants.
 */
@custom-variant xl (@media (min-width: 1367px));
@custom-variant lg (@media (max-width: 1366px));
@custom-variant md (@media (max-width: 1024px));
@custom-variant sm (@media (max-width: 768px));

@theme {
  --font-nunito: "Nunito", sans-serif;
}

@layer base {
  html,
  body,
  #app {
    font-family: "Fredoka", sans-serif;
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility t12-m {
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.4rem;
  font-weight: 500;
}

@utility t12-b {
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.4rem;
  font-weight: 700;
}

@utility t14-m {
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.5rem;
  font-weight: 500;
}

@utility t14-b {
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.5rem;
  font-weight: 700;
}

@utility t16-m {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.8rem;
  font-weight: 500;
}

@utility t16-b {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.8rem;
  font-weight: 700;
}

@utility t18-m {
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2rem;
  font-weight: 500;
}

@utility t18-b {
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2rem;
  font-weight: 700;
}

@utility t20-m {
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  font-weight: 500;
}

@utility t20-b {
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  font-weight: 700;
}

@utility t20-eb {
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  font-weight: 900;
}

@utility t24-m {
  font-size: 2.4rem;
  font-style: normal;
  line-height: 2.6rem;
  font-weight: 500;
}

@utility t24-b {
  font-size: 2.4rem;
  font-style: normal;
  line-height: 2.6rem;
  font-weight: 700;
}

@utility t24-eb {
  font-size: 2.4rem;
  font-style: normal;
  line-height: 2.6rem;
  font-weight: 900;
}
